@tailwind base;
@tailwind components;
@tailwind utilities;

/* Checkbox */
.checkbox > input[type="checkbox"] {
  @apply absolute outline-none;
  z-index: -9999;
  opacity: 0;
}

.checkbox > input[type="checkbox"] + span {
  @apply relative bg-transparent block cursor-pointer;
  padding-left: 1.75rem;
  line-height: 1.7;
}

.checkbox > input[type="checkbox"]:focus + span {
  @apply rounded;
}

.checkbox > input[type="checkbox"] + span::before {
  @apply absolute rounded-sm border-primary-dark border-2 bg-white block;
  content: "";
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
}

.checkbox > input[type="checkbox"]:checked + span::after {
  @apply absolute bg-primary-dark;
  content: "";
  top: 8px;
  left: 8px;
  width: 9px;
  height: 9px;
}
