.cls-1,
.cls-2 {
  fill: none;
}

.cls-1 {
  clip-rule: evenodd;
}

.cls-3 {
  fill: #f2ac7d;
}

.cls-4 {
  clip-path: url(#clip-path);
}

.cls-5 {
  clip-path: url(#clip-path-2);
}

.cls-6 {
  fill: #325802;
}

.cls-7 {
  clip-path: url(#clip-path-3);
}

.cls-8 {
  clip-path: url(#clip-path-4);
}

.cls-9 {
  clip-path: url(#clip-path-5);
}

.cls-10 {
  clip-path: url(#clip-path-6);
}

.cls-11 {
  isolation: isolate;
}

.cls-12 {
  clip-path: url(#clip-path-7);
}

.cls-13 {
  clip-path: url(#clip-path-8);
}

.cls-14 {
  clip-path: url(#clip-path-9);
}

.cls-15 {
  clip-path: url(#clip-path-10);
}

.cls-16 {
  clip-path: url(#clip-path-11);
}

.cls-17 {
  clip-path: url(#clip-path-12);
}

.cls-18 {
  clip-path: url(#clip-path-13);
}

.cls-19 {
  clip-path: url(#clip-path-14);
}

.cls-20 {
  clip-path: url(#clip-path-15);
}

.cls-21 {
  clip-path: url(#clip-path-17);
}

.cls-22 {
  clip-path: url(#clip-path-18);
}

.cls-23 {
  clip-path: url(#clip-path-19);
}

.cls-24 {
  fill: #749a60;
}

.cls-25 {
  clip-path: url(#clip-path-20);
}

.cls-26 {
  clip-path: url(#clip-path-22);
}

.cls-27 {
  clip-path: url(#clip-path-23);
}

.cls-28 {
  clip-path: url(#clip-path-24);
}

.cls-29 {
  clip-path: url(#clip-path-25);
}

.cls-30 {
  clip-path: url(#clip-path-27);
}

.cls-31 {
  clip-path: url(#clip-path-28);
}

.cls-32 {
  clip-path: url(#clip-path-29);
}

.cls-33 {
  clip-path: url(#clip-path-30);
}

.cls-34 {
  clip-path: url(#clip-path-32);
}

.cls-35 {
  clip-path: url(#clip-path-33);
}

.cls-36 {
  clip-path: url(#clip-path-34);
}

.cls-37 {
  fill: #91b169;
}
