.steps__bar-list-item:not(:last-child) .steps__bar-list-item-icon:after {
  @apply absolute;
  height: 1px;
  top: 50%;
  width: 100%;
  padding: 0 5px;
  content: "";
  background-image: linear-gradient(
    to right,
    #c4c4c4 25%,
    rgba(255, 255, 255, 0) 0%
  );
  background-size: 6px 1px;
  background-repeat: repeat-x;
}

.steps__bar-list-item--active:not(:last-child):after {
  background-image: linear-gradient(to right, #199057 0%, #199057 100%);
}
