.locate-control-icon {
  background-image: url("../../assets/icons/Location.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: table;
  background-position: center;
}

.locate-control-icon-loading {
  background-image: url("../../assets/icons/Location.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  position: absolute;
  display: table;
  background-position: center;
}
